{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">
      Insiders Guide Mock Up Page
    </h1>
    <p>
      <a href="https://github.com/carobin589/juggling-licence-prototype/raw/master/blank.pdf" role="button" draggable="false" class="govuk-button govuk-button--start">
        Open Insiders Guide
      </a>
    </p>
    <p>
      This page will let you download the insiders guide.
    </p>

  </div>

  {% endblock %}